.w-default {
    background-color: #f9f9f9;
    padding:60px 0 0 0;
}
.w-default .headers {
    background-color: #162133;
}
.w-default .headers .con {
    background: url("../images/header.jpg") no-repeat center right;
    width: 1110px;
    margin: 0 auto;
    color: #fff;
    height: 380px;
}
.w-default .headers .h1 {
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 80px;
}
.w-default .headers .login {
    font-size: 18px;
    width: 140px;
    height: 40px;
    background-color: #23b4eb;
    display: block;
    line-height: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}
.w-default .headers .register {
    font-size: 20px;
}
.w-default .headers .register a {
    color: #fff;
}
.w-default .headers .register a:hover {
    text-decoration: underline;
}
.w-default .content {
    width: 1110px;
    margin: 0 auto;
    text-align: center;
}
.w-default .content .h1 {
    font-size: 42px;
    margin-top: 40px;
}
.w-default .content .h2 {
    font-size: 17px;
    color: #bcbcbc;
    line-height: 30px;
    margin-bottom: 10px;
}
.w-default .content .h3 {
    font-size: 20px;
    color: #6c6c6c;
    margin-top: 10px;
    margin-bottom: 30px;
}
.w-default .content .h4 {
    font-size: 30px;
    color: #6c6c6c;
    margin-top: 20px;
    margin-bottom: 30px;
}
.w-default .content .cores {
    width: 100%;
    height: 228px;
}
.w-default .content .cores .core {
    border: 1px solid #e5e5e5;
    margin-right: 16px;
    width: 224px;
    height: 178px;
    padding: 25px 15px 25px 24px;
    float: left;
    text-align: left;
    background: #fff;
}
.w-default .content .cores .core span {
    width: 102px;
    height: 90px;
    display: block;
    background: url("../images/icons.jpg") no-repeat -240px -12px;
}
.w-default .content .cores .core span.icon-2 {
    background-position: -16px -10px;
}
.w-default .content .cores .core span.icon-3 {
    background-position: -358px -9px;
}
.w-default .content .cores .core span.icon-4 {
    background-position: -135px -8px;
}
.w-default .content .cores .last-core {
    margin-right: 0;
}
.w-default .content .programme {
    width: 100%;
    height: 1590px;
    position: relative;
}
.w-default .content .programme .midline {
    width: 4px;
    height: 1570px;
    position: absolute;
    top: 0;
    left: 50%;
    background: #27262b;
}
.w-default .content .programme .s-dot {
    background: url(//cdn.maijia.com/www-index-cdn/page/wish/index/pagelet/body/imgs/programme-icon2.jpg) no-repeat;
    width: 11px;
    height: 11px;
    z-index: 100;
    position: absolute;
}
.w-default .content .programme .midline .s-dot-t {
    left: -3px;
    top: -3px;
}
.w-default .content .programme .midline .bb-dot-b {
    bottom: -24px;
    left: -24px;
}
.w-default .content .programme .bb-dot {
    background: url(//cdn.maijia.com/www-index-cdn/page/wish/index/pagelet/body/imgs/programme-icon3.jpg) no-repeat;
    width: 51px;
    height: 51px;
    z-index: 100;
    position: absolute;
}
.w-default .content .programme .programme-1, .w-default .content .programme .programme-2, .w-default .content .programme .programme-3, .w-default .content .programme .programme-4{
    width: 560px;
    text-align: left;
    position: absolute;
    z-index: 96;
}
.w-default .content .programme .programme-1 {
    top: 0;
    left: 0;
}
.w-default .content .programme .line {
    width: 442px;
    height: 4px;
    background: #27262b;
    z-index: 99;
    position: absolute;
    top: 64px;
}
.w-default .content .programme .line-r {
    right: 1px;
}
.w-default .content .programme .line .b-dot-r {
    top: -13px;
    right: -13px;
}
.w-default .content .programme .b-dot {
    background: url(//cdn.maijia.com/www-index-cdn/page/wish/index/pagelet/body/imgs/programme-icon1.jpg) no-repeat;
    width: 31px;
    height: 31px;
    z-index: 100;
    position: absolute;
}
.w-default .content .programme .line .s-dot-l {
    top: -3px;
    left: -3px;
}
.w-default .content .programme .line .b-dot-l {
    top: -13px;
    left: -13px;
}
.w-default .content .programme .line .s-dot-r {
    top: -3px;
    right: -3px;
}
.w-default .content .programme .programme-1 h2, .w-default .content .programme .programme-2 h2, .w-default .content .programme .programme-3 h2, .w-default .content .programme .programme-4 h2 {
    color: #2abbf0;
    font-size: 84px;
    font-weight: 400;
    font-family: Arial,sans-serif;
}
.w-default .content .programme .programme-1 h3, .w-default .content .programme .programme-2 h3, .w-default .content .programme .programme-3 h3, .w-default .content .programme .programme-4 h3 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 12px;
}
.w-default .content .programme .programme-2 {
    top: 200px;
    right: 0;
}
.w-default .content .programme .programme-3 {
    top: 545px;
    left: 0;
}
.w-default .content .programme .programme-4 {
    top: 770px;
    right: 0;
}
.w-default .content .programme .programme-2, .w-default .content .programme .programme-4 {
    text-align: right;
    width: 556px;
}
.w-default .link_now {
    margin: 0 auto;
    border: 2px solid #27bdee;
    width: 176px;
    height: 46px;
    line-height: 46px;
    color: #27bdee;
    display: block;
    font-size: 24px;
    margin-top: 40px;
    text-align: center;
    text-decoration: none;
}
.w-default .link_now:hover {
    text-decoration: none;
    color: #fff;
    background-color: #27bdee;
}
.w-default .content .register-button {
    width: 260px;
    height: 60px;
    font-size: 24px;
    color: #27bdee;
    border: 2px solid #27bdee;
    display: inline-block;
    line-height: 60px;
    margin-bottom: 70px;
}
.w-default .content .register-button:hover {
    color: #fff;
    background-color: #27bdee;
}